*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main{
    height: 70dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
}

.ct-mn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 95%;
    height: 100%;
}

.link{
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    color: #007bff;
    margin-bottom: 60px;
}

.forgot-password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    height: 45%;
    width: 27rem;
    background-color: #232121;
}

.forgot-password h1{
    margin-top: 20px;
    font-size: 1.5rem;
    color: #007bff;
    font-weight: bold;
}

.forgot-password p{
    font-size: 1rem;
    color: #7a7a7a;
    font-weight: bold;
    text-align: left;
    padding-left: 25px;
    padding-right: 15px;
}

.divider{
    height: 1px;
    width: 100%;
    background-color: #2f2e2e;
    margin-top: 25px;
    margin-bottom: 25px;
}

.divir{
    display: flex;
    justify-content: right;
    align-items: center;
    border-top: 1px solid #2f2e2e;
    height: 55px;
    width: 100%;
    margin-top: 15px;
}

form{
    width: 100%;
    height: 100%;
}

.email-input{
    outline: none;
    width: 90%;
    height: 35px;
    font-size: 0.875rem;
    padding: 15px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    background-color: aliceblue;
    color: #666;
}

.submit-button{
    width: 80px;
    height: 35px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 12px;
    font-size: 1rem;
}

.cancel-button{
    justify-content: right;
    align-items: center;
    width: 80px;
    height: 35px;
    background-color: #b8b7b7;
    color: white;
    border: none;
    margin-right: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

.submit-button:focus{
    background-color: #0056b3;
}


footer{
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 30dvh;
    background-color:#232121;
}

footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 70px;
}

footer a{
    text-decoration: none;
    color: #007bff;
    font-size: 0.875rem;
}

footer p{
    font-size: 0.875rem;
    color: #7a7a7a;
}