* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.link{
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    color: #007bff;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90dvh;
    background-color: #191919;
    container-type: inline-size;
    container-name: mai;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: auto;
}

.form-container{
    display: flex;
    background-color: #232121;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border-radius: 10px;
    padding-top:20px ;
    padding-bottom: 20px;
    width: 90%;
    height: auto;
}

.form-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.form-header h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: #007bff;
}

.form-header p{
    font-size: 1rem;
    color: #7a7a7a;
}

.form-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 70%;
}

.form-body form{
    width: 100%;
    height: 100%;
}

.input-nm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.text{
    outline: none;
    width: 45%;
    height: 30px;
    font-size: 0.875rem;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aliceblue;
    color: #666;
}

.text:focus{
    outline: none;
    border: 2px solid #007bff;
}

.form-body p{
    width: 100%;
    font-size: 0.87rem;
    color: #7a7a7a;
    padding-left: 10px;
    margin-bottom: 10px;
}

.input-fg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 20px;
    width: 100%;
}

.data{
    outline: none;
    width: 102px;
    height: 30px;
    font-size: 0.875rem;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aliceblue;
    color: #666;
}

.data:focus{
    outline: none;
    border: 2px solid #007bff;
}

.input-fg div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

.input-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-group div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.input-group p {
    font-size: .75rem;
    margin-bottom: 5px;
    padding: 20px;
    color: #7a7a7a;
}

.input{
    outline: none;
    width: 90%;
    height: 30px;
    font-size: 0.875rem;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: aliceblue;
    border-radius: 5px;
    color: #666;
}

.input:focus{
    outline: none;
    border: 2px solid #007bff;
}

.email{
    margin-bottom: 5px;
}

.password{
    margin-bottom: 5px;
}

.search{
    width: 113px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
    height: 32px;
    font-size: 0.875rem;
    border: 1px solid #ccc;
    background-color: aliceblue;
    border-radius: 5px;
    color: #666;
}

.search:focus{
    outline: none;
    border: none;
    background-color: #2f89e9;
    color: #191919;
}

.input-group a{
    text-decoration: none;
    color: #007bff;
}


footer{
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 10dvh;
    background-color:#232121;
}

footer p{
    font-size: 0.875rem;
    color: #7a7a7a;
}


@container mai (min-width: 700px){
    .form-container{
        width: 35%;
    }
}